body {

    background-color: rgb(249, 243, 194);
    font-family:Arial, Helvetica, sans-serif;
    max-width: fit-content;
    margin: auto;
      
}

 #startgame {
    height: 100px;
    width: 800px;
    margin-top: 100px;
    border-radius: 15px;
    background-color:rgb(82, 3, 82);
    border-bottom: 15px solid  rgb(36, 1, 36);
    border-left: 3px solid  rgb(36, 1, 36);
    border-right: 3px solid   rgb(36, 1, 36);
    font-size: 50px;
    color: rgb(245, 234, 234);

}

h1 {
    text-align: center;
    font-size:80px;
    font-family:Arial, Helvetica, sans-serif;
    justify-content: center;
     margin-top: 300px;
    margin-bottom: 0px; 
   color: darkorange;
   text-shadow: 8px 8px  rgb(69, 2, 69);
 
}

.h1-after {

    text-align: center;
    font-size:80px;
    margin: auto;
    justify-content: center;
     margin-top: 30px;
    margin-bottom: 50px; 
    color: darkorange;
    text-shadow: 8px 8px  rgb(69, 2, 69);

}

.game-grid {
     display: grid;
    margin: auto;
    grid-template-columns: 150px 150px 150px ;
    grid-template-rows: 150px 150px 150px ;
   justify-content: center;
   height: 600px;
   width: 600px; 
   background-color: darkorange;
    
 } 

.box {
     height: 150px;
    width: 150px;
    background-color: white;
    border: darkorange solid;
    justify-content: center;
    margin-top: 75px;
    background-color: khaki;
} 

.message {
    text-align: center;
    font-size: 50px;
    margin-bottom: 50px;
    margin: 25px;
}

   .X {

    font-size: 125px;
    text-align: center;
    justify-content: center;
    color: rgb(80, 5, 80);
    text-shadow:3px 3px rgb(226, 133, 18);
}

.O {

    font-size: 125px;
    justify-content: center;
    text-align: center;
    color: darkorange;
    text-shadow:3px 3px rgb(50, 8, 50) ;
}


.Xturn {
    color:  rgb(80, 5, 80);
    text-shadow:3px 3px rgb(226, 133, 18);
    font-size: 50px;
    font-weight: bolder;
}
.Oturn {
    color: darkorange;
    text-shadow:3px 3px rgb(50, 8, 50);
    font-size: 50px;
    font-weight: bolder;

}

#restart {
    text-align: center;
    justify-content: center;
    height: 50px;
    width: 600px;
    margin-top: 40px;
    border-radius: 15px;
    background-color:rgb(82, 3, 82);
    border-bottom: 7px solid  rgb(36, 1, 36);
    border-left: 2px solid  rgb(36, 1, 36);
    border-right: 2px solid   rgb(36, 1, 36);
    color: rgb(245, 234, 234);
    font-size: 20px;

}

